
.icon-tag:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-quote-left-alt:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-chart-bar:before { content: '\f526'; } /* '' */